body {
    font-family: 'Handjet', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #2b00c5, #000000);
  }
  
  .game {
    text-align: center;
    background-color: #302df37c;
    padding: 100px;
    border-radius: 10px;
    color: #ffffff;
  }
  
  .choices {
    margin-top: 20px;
  }
  
  .choice {
    font-family: 'Handjet', cursive;
    font-size: 25px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2226f7;
    color: #ffffff;
  }
  
  .result {
    margin-top: 20px;
    font-size: 40px;
    color: #ffffff;
  }
  